# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: futurerelations
# frontend/serverless.yml
myNextApp:
  component: "@sls-next/serverless-component@3.7.0"

  inputs:
    build:
      cwd: ./
      cmd: npm install
      args: []
