service: infra

provider:
  name: aws
  runtime: python3.11
  region: ap-northeast-1
  stage: ${opt:stage, 'dev'}
  stackName: infra-dev

custom:
  stage: ${opt:stage, self:provider.stage}
  tableName: ${self:service}-${self:custom.stage}
  masterTableName: ${self:service}-master-${self:custom.stage}
  aiTableName: ${self:service}-ai-${self:custom.stage}
  bucketName: ${self:service}-bucket-${self:custom.stage}-${aws:accountId}
  imagesBucket: ${self:service}-images-${self:custom.stage}-${aws:accountId}

resources:
  Resources: ${file(./resources/all-resources.yml)}
  Outputs: ${file(./outputs.yml):Outputs}
