service: serverless-web-app-infrastructure

frameworkVersion: '4'

provider:
  name: aws
  runtime: python3.12
  region: ap-northeast-1
  stage: ${opt:stage, 'dev'}
  versionFunctions: false

custom:
  stage: ${opt:stage, self:provider.stage}
  tableName: ${self:service}-${self:custom.stage}
  masterTableName: ${self:service}-master-${self:custom.stage}
  aiTableName: ${self:service}-ai-${self:custom.stage}
  bucketName: ${self:service}-bucket-${self:custom.stage}-${aws:accountId}
  imagesBucket: ${self:service}-images-${self:custom.stage}-${aws:accountId}

resources:
  - ${file(./resources/dynamodb-resources.yml)}
  - ${file(./resources/s3-resources.yml)}
  - ${file(./resources/cognito-resources.yml)}
  - ${file(./outputs.yml)}
